@using MvcPL.Models
@model PaginationViewModel<PhotoViewModel>

@foreach (var p in Model.Items)
{
    <div id="image" class="col-lg-4 col-md-6 col-sm-12 col-12">

        <a href="@Url.Action("ShowImage", "Photos", new {p.Id})" data-type="image" data-fancybox="images">
            <img src="@Url.Action("ShowImage", "Photos", new {p.Id})" class="viewImage" />
        </a>

        <div>
            <a data-fancybox data-type="ajax" data-src="@Url.Action("PhotoDetails", "Photos", new {p.Id})"
               href="@Url.Action("PhotoDetails", "Photos", new {p.Id})" class="viewDetails">View Details</a>
        </div>

    </div>
}

