@using MvcPL.Models
@model PaginationViewModel<PhotoViewModel>

@if (Model.PageInfo.TotalPages != Model.PageInfo.PageNumber)
{
    using (Html.BeginForm("Search", "Photos", new
    {
        tag = ((PhotoPageInfo)Model.PageInfo).Tag,
        page = Model.PageInfo.PageNumber + 1
    }, FormMethod.Post, new { @class = "", id = "loadMoreForm" }))
    {
        @Html.AntiForgeryToken()
        <button class="btn my-2 my-sm-0 signUpButton" id="buttonLoadMore" type="submit">Load more</button>
    }
}