.logo {
    background-color: #2dcb74;
    color: white;
    font-family: Comic Sans MS;
    font-style: italic;
    font-size: 27px;
    float: left;
    padding: 7px;
    padding-left: 20px;
    padding-right: 70px;
    
}
.right {
    float: right;
    margin-right: 5px;
    padding-right: 5px;
}
.ui-helper-hidden-accessible { display:none; }
.ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}
/* IE 6 doesn't support max-height
   * we use height instead, but this forces the menu to always be this tall
   */
* html .ui-autocomplete {
    height: 100px;
}

.images {
    margin: auto;
    margin-top: 50px;
}
.emptySearch {
    background-color: #f8f9fa;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    color: dimgrey;
}
#image {
    float: left;
    padding-bottom: 30px;
    text-align: center;
    opacity: 1;
}

#image:hover {
    opacity:0.7;
}