.logo {
    background-color: #2dcb74;
    color: white;
    font-family: Comic Sans MS;
    font-style: italic;
    font-size: 27px;
    float: left;
    padding: 7px;
    padding-left: 20px;
    padding-right: 70px;
    
}
.right {
    float: right;
    margin-right: 5px;
    padding-right: 5px;
}
.without-margin {
    margin: 0px;
}